
.login input{
    padding: 5px 10px;
}

.login{
    position:absolute;
    width:33%;
    height: 50%;
    text-align: center;
    padding: 20px 20px;
    top: 16%;
    left: 33.5%;
    background-image: url("/static/images/bg1.jpg");
    border-radius:5px;
    box-shadow: 0 0 20px 1px;
}

.container input{
/*    font-size: 20px;*/
    border-radius: 3px;
}

.fillup-form{
    background-color: #ebffec;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px;
}


.fillup-form2{
    background-color: #aaaeff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px;
}

body{
	background-repeat: no-repeat;
	background-attachment:fixed;
}

.photoId{
    position:absolute;
    background-color: #6e68ef;
    width:18%;
    height:33%;
    left:61%;
    top: 25%;
    border-radius: 5px;
}

.label_id{
    position:absolute;
    background-color: green;
    width:18%;
    height:6%;
    left:61%;
    top:57%;
    border-radius: 0 0 5px 5px;
    text-align: center;
    font-size: 150%;
}
