<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/buttons.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js/"></script>
    <script src="/static/js/sweetalert.min.js"></script>


    <title>About Us</title>
</head>

<div class="container" style="position:absolute;padding:0 0; width:98%; left:0%; top:0%;">


        <div class="row">
            <div class="col-lg-12">
                <img src="/static/images/header.jpg" style="width:102%;">
            </div>
        </div>



    <div class="container" style="padding: 1% 0%;">

        <div class="row" style="background-color: white; text-align: center; margin-left: 1%; font-size: 120%; box-shadow: 0px 0px 8px 0px maroon; padding-bottom: 2%">
            <div class="col-lg-12">
                <h2 style="font-family: 'Century Gothic'; color: maroon;">About Us</h2>
                    ReSync (a shortcut term for Restart n Sync), is a team. YeYYY??

            </div>
        </div>

            <div class="row" style="margin-top: 5%; margin-bottom:2% ">
                <div class="col-lg-12" style="text-align: center;">
                    <img src="/static/images/MMM.jpg" class="img-circle" style="width:25%;">
                </div>
            </div>

            <div class="row" style="text-align: center; font-size: 180%; font-family: 'Century Gothic'; margin-bottom:2%;">
                Malikey M. Maulana<br>
                Adviser
            </div>


        <div class="row" style="font-family: 'Century Gothic'; font-size: 300%; color: maroon;  margin-left: 2%;">
            Meet The Team
        </div>

        <div class="container" style="width:105%; font-size:115%; font-family: 'Century Gothic';margin-top: -1%">
            <div class="row">

                <div class="col-lg-6">
                    <div class="row" style="background-color: maroon; color: white; margin-top: 5%; padding: 2% 0; margin-right:1%; box-shadow: 0px 0px 8px 0px #c9c7c7">
                        <div class="col-lg-4">
                            <img src="/static/images/earl.jpg" class="img-circle" style="width:103%">
                        </div>

                        <div class="col-lg-6" style="padding-top: 8%;">
                            Earl Mark E. Barangot<br>
                            Project Manager
                            earlmarkbarangot@gmail.com
                        </div>
                    </div>

                    <div class="row" style="background-color: maroon; color: white;margin-top: 5%; padding: 2% 0; margin-right:1%; box-shadow: 0px 0px 8px 0px #c9c7c7">
                        <div class="col-lg-4">
                            <img src="/static/images/jera.jpg" class="img-circle" style="width:103%">
                        </div>
                        <div class="col-lg-6" style="padding-top: 8%;">
                            Jera Eban B. Entrina<br>
                            Senior Frontend/Junior Backend
                            eaeaeiatrina@gmail.com
                        </div>
                    </div>

                    <div class="row" style="background-color: maroon; color: white;margin-top: 5%; padding: 2% 0; margin-right:1%; box-shadow: 0px 0px 8px 0px #c9c7c7">
                        <div class="col-lg-4">
                            <img src="/static/images/eduardo.jpg" class="img-circle" style="width:103%">
                        </div>
                        <div class="col-lg-6" style="padding-top: 8%;">
                            Eduardo R. Quiobe Jr.<br>
                            Senior Backend/Junior Frontend
                            mcprivateer16@gmail.com
                        </div>
                    </div>


                </div>


                <div class="col-lg-6">
                    <div class="row" style="background-color: maroon; color: white;margin-top: 5%; padding: 2% 0; margin-right:1%; box-shadow: 0px 0px 8px 0px #c9c7c7">
                        <div class="col-lg-4">
                            <img src="/static/images/jomari.jpg" class="img-circle" style="width:103%">
                        </div>
                        <div class="col-lg-6" style="padding-top: 8%;">
                            Jomari M. Daison <br>
                            Senior Backend/Junior Frontend
                            jomari.daison@gmail.com
                        </div>
                    </div>

                    <div class="row" style="background-color: maroon; color: white;margin-top: 5%; padding: 2% 0; margin-right:1%; box-shadow: 0px 0px 8px 0px #c9c7c7">
                        <div class="col-lg-4">
                            <img src="/static/images/julius.jpg" class="img-circle" style="width:103%">
                        </div>
                        <div class="col-lg-6" style="padding-top: 8%;">
                            Julius T. Visto<br>
                            Senior Frontend/Junior Backend
                            agentvis2@gmail.com
                        </div>
                    </div>

                    <div class="row" style="background-color: maroon; color: white;margin-top: 5%; padding: 2% 0; margin-right:1%; box-shadow: 0px 0px 8px 0px #c9c7c7">
                        <div class="col-lg-4">
                            <img src="/static/images/van.jpg" class="img-circle" style="width:103%">
                        </div>
                        <div class="col-lg-6" style="padding-top: 8%;">
                            Van Michael S. Ranque<br>
                            Senior Frontend/Junior Backend
                            vanranque@gmail.com
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


</body>

</html>