{% extends 'admin_layout.html' %}

{% block body %}


    <div class="form_tag" style="left:23%; top:-17%;">
        Stall Form
    </div>
        <form method="POST">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="stalltype">Stall Type:</label> <br>
                            {{ form.stalltype(placeholder = "Stall Type", class="form-control", id="stalltype") }}
                                {% if form.stalltype.errors %}
                                {% for error in form.stalltype.errors %}<span class="help-inline">{{ error }}</span> {% endfor %} {% endif %}<br>
                        <label for="stallno"  >Stall#: </label><br>
                        {{ form.stallno(placeholder = "Stall#", class="form-control", id="stallno") }} {% if form.stallno.errors %}
                        {% for error in form.stallno.errors %} <span class="help-inline">{{ error }} </span> {% endfor %} {% endif %}<br>
                        <label for="stallloc"  >Stall Location: </label><br/>
                        {{ form.stallloc(placeholder = "Stall Location", class="form-control", id="stallloc") }}
                            {% if form.stallloc.errors %}
                        {% for error in form.stallloc.errors %}  <span class="help-inline">{{ error }} </span> {% endfor %} {% endif %}<br>
                         <label for="rate"  >Rate: </label><br>
                        {{ form.rate(placeholder = "Rate", class="form-control", id="rate") }} {% if form.rate.errors %}
                        {% for error in form.rate.errors %} <span class="help-inline">{{ error }} </span> {% endfor %} {% endif %}<br>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <br>{{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
                    <!--<label class="form"  >Stall Type: <br/>-->
                    <!--{{ form.stalltype(placeholder = "Stall Type") }}-->
                        <!--{% if form.stalltype.errors %}-->
                    <!--{% for error in form.stalltype.errors %} <span class="help-inline"> {{ error }} </span> {% endfor %} {% endif %}<br></label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-lg-2">-->
                    <!--<label class="form"  >Stall#: <br>-->
                    <!--{{ form.stallno(placeholder = "Stall#") }} {% if form.stallno.errors %}-->
                    <!--{% for error in form.stallno.errors %}<span class="help-inline"> {{ error }} </span>{% endfor %} {% endif %}</label>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-lg-2">-->
                    <!--<label class="form"  >Stall Location: <br/>-->
                    <!--{{ form.stallloc(placeholder = "Stall Location") }}-->
                        <!--{% if form.stallloc.errors %}-->
                    <!--{% for error in form.stallloc.errors %}<span class="help-inline"> {{ error }} </span>{% endfor %} {% endif %}<br></label>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-lg-2">-->
                    <!--<label class="form"  >Rate: <br/>-->
                    <!--{{ form.rate(placeholder = "Rate") }}-->
                        <!--{% if form.rate.errors %}-->
                    <!--{% for error in form.rate.errors %}<span class="help-inline"> {{ error }} </span>{% endfor %} {% endif %}<br></label>-->
                <!--</div>-->

            <!--</div>-->



        </form>

    <script>
    $("#flex_form").css({"width":"30%", "left":"35%"});
    </script>
{% endblock %}
