{% extends 'admin_layout.html' %}

{% block body %}
<div class="container" style="width:96%;position:absolute; top:29%; left: 3%;">
    <div class="form_tag" style="left:2%; top:-10%;">
        Tenant Form
    </div>

    <div class="row" style="box-shadow:0 13px 20px 0px #bdbdbd; background-color:white; width:100%; padding:2% 1%;">
        <form method="POST" enctype="multipart/form-data">
        {{form1.hidden_tag()}}
        <div class="col-lg-9" >
            <div class="row">
                <div class="col-lg-4">

                    <label for="fname">First Name:</label> <br>
                    {{ form1.fname(placeholder = "Juan", class="form-control", id="fname") }}
                    {% if form1.fname.errors %}
                    {% for error in form1.fname.errors %}<span class="help-inline">{{ error }}</span> {% endfor %} {% endif %}<br>
                </div>
                <div class="col-lg-4">
                     <label for="mname">Middle Name:</label> <br>
                    {{ form1.mname(placeholder = "Reyes", class="form-control", id="mname") }}{% if form1.mname.errors %}
                    {% for error in form1.mname.errors %}<span class="help-inline">{{ error }}</span> {% endfor %} {% endif %}<br>
                </div>
                <div class="col-lg-4">
                    <label for="lname">Last Name:</label> <br>
                    {{ form1.lname(placeholder = "Dela Cruz", class="form-control", id="lname") }} {% if form1.lname.errors %}
                    {% for error in form1.lname.errors %} <span class="help-inline">{{ error }}</span> {% endfor %} {% endif %}<br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <label for="address" >Present Address: </label><br>
                    {{ form1.address(placeholder = "P-8 Isabel Village, Cirilo St., Upper Portion, Pala-o, Iligan City" , class="form-control", id="address") }} {% if form1.address.errors %}
                    {% for error in form1.address.errors %}  <span class="help-inline">{{ error }} </span> {% endfor %} {% endif %}<br>
                </div>
                <div class="col-lg-4">
                    <label for="contnum"  >Contact Number:</label> <br>
                    {{ form1.contnum(placeholder = "09123456789", class="form-control", id="contnum") }}
                        {% if form1.contnum.errors %}
                    {% for error in form1.contnum.errors %} <span class="help-inline">{{ error }} </span> {% endfor %} {% endif %}<br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label for="stallno"  >Stall#: </label><br>
                    {{ form1.stallno(placeholder = "123", class="form-control", id="stallno") }} {% if form1.stallno.errors %}
                    {% for error in form1.stallno.errors %} <span class="help-inline">{{ error }} </span> {% endfor %} {% endif %}<br>
                </div>
                <div class="col-lg-2">
                    <label for="rate"  >rate: </label><br>
                    {{ form1.rate(placeholder = "Rate", class="form-control", id="rate") }} {% if form1.rate.errors %}
                    {% for error in form1.rate.errors %} <span class="help-inline">{{ error }} </span> {% endfor %} {% endif %}<br>
                </div>
               
               

            </div>

        </div>


        <div class="col-lg-3">
            <div style="position:absolute; left:15%; width:72%; height: 90%; top:9%; background-color:gray;">
                {{form1.tenantphotoID( style="position:absolute; top:103%; left:0%;")}}
            </div>
            &nbsp;
            <div class="row" style="margin-top:64%;">
            </div>
        </div>

        <div class="row">

         <div class="col-lg-3" style="margin-top:3%;right:930px">
            {{form1.submit( class="btn btn-primary")}}
        </div>
        </div>
    </form>
    </div>
    <div class="row" >
        <div class="col-lg-5" style="box-shadow:0 13px 20px 0px #bdbdbd; background-color:white; padding:1% 1%; margin-top:1%; width:48%;">
            <h1  style="margin-bottom: 4%;">List of Tenants</h1>
            <table class="table table-striped table-bordered table-hover" id="myTable3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contact#</th>
                        <th>Stall#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Contact#</th>
                        <th>Stall#</th>

                    </tr>

                </tfoot>
                <tbody>
                    {% for res in result %}
                    <tr>
                        <td>
                            <a href = "/payment_table/{{res.tenantID}}/{{res.stallID}}">{{ res.first_name }} &nbsp; {{ res.mid_name }} &nbsp; {{ res.last_name }} </a>
                        </td>
                        <td>
                            {{res.contact_no}}
                        </td>
                        <td>
                            {{ x[loop.index-1] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-5" style="box-shadow:0 13px 20px 0px #bdbdbd; background-color:white; padding:1% 1%; margin-top:1%; margin-left:1.5%; width:48%;">
            <h1  style="margin-bottom: 4%;">List of Available Stalls</h1>

            <table class="table table-striped table-bordered table-hover" id="myTable4">

                        <div id="example_wrapper" class="dataTables_wrapper form-inline df-bootstrap"></div>
                <thead>
                    <tr>
                        <th>Stall Number</th>
                        <th>Location</th>
                        <th>Rate</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Stall Number</th>
                        <th>Location</th>
                        <th>Rate</th>
                        <th>Type</th>
                    </tr>

                </tfoot>
                <tbody>
                    {% for res in availstalls %}
                    <tr>
                        <td>
                            {{ res.stall_no }}
                        </td>
                        <td>
                            {{ res.stall_loc }}
                        </td>
                        <td>
                            {{ res.stall_rate }}
                        </td>
                        <td>
                            {{ availstalls_y[loop.index-1] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="\static\js\jquery-3.2.1.min.js"></script>
<script src="\static\js\jquery.dataTables.min.js"></script>
<script src="\static\js\dataTables.bootstrap.min.js"></script>

<script>
    $('#myTable3').dataTable();
    $('#myTable4').dataTable();
    $('.form_container').removeClass('form_container');
</script>


{% endblock %}
