<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/buttons.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js/"></script>

<!--l 23 w 45-->

<!--{% if page=='addtenant' %}-->
    <!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$(".form_container").css({"left":"0%","width":"100%","box-shadow":"none","background-color":"transparent","padding":"2% 0 0 2%"});-->
        <!--var a = 0;-->
        <!--$("#paneltoggle").click(function(){-->
            <!--if(a==0){-->
                <!--$("#panel").animate({left: '0%'});-->
                <!--$("#flex_form").animate({left: '18%', width:'82%'},300);-->
                <!--a=1;-->
            <!--}-->
            <!--else{-->
                <!--$("#panel").animate({left: '-18%'});-->
                <!--$("#flex_form").animate({left: '0%', width:'100%'},300);-->
                <!--a=0;-->
            <!--}-->
        <!--});-->
    <!--});-->
    <!--</script>-->
<!--{% else %}-->
    <!--<script>-->
    <!--$(document).ready(function(){-->
        <!--var a = 0;-->
        <!--$("#paneltoggle").click(function(){-->
            <!--if(a==0){-->
                <!--$("#panel").animate({left: '0%'});-->
                <!--$("#flex_form").animate({left: '30%', width:'57%'},300);-->
                <!--a=1;-->
            <!--}-->
            <!--else{-->
                <!--$("#panel").animate({left: '-18%'});-->
                <!--$("#flex_form").animate({left: '12%', width:'75%'},300);-->
                <!--a=0;-->
            <!--}-->
        <!--});-->
    <!--});-->
    <!--</script>-->
<!--{% endif %}-->

<!--</head>-->


<!--<body>-->


<!--<div class="container" id="panel" style="text-align:center; text-decoration:none;" >-->

    <!--<div class="panel-group" id="pg">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading" id="panel_button" data-toggle="collapse" data-parent="pg" data-target="#tenant">-->
                <!--TENANT&nbsp;<span class="caret"></span>-->
            <!--</div>-->
            <!--<div id="tenant" class="panel-collapse collapse in">-->
                <!--<div class="panel-body" style="padding: 1% 0 0% 0;">-->
                    <!--<ul class="list-group">-->
                        <!--<a href="/AddTenants" >-->
                            <!--<li class="list-group-item" style="text-decoration:none; color:black;">-->
                                <!--Add Tenant-->
                            <!--</li>-->
                        <!--</a>-->
                        <!--<a href="/showtenants" >-->
                            <!--<li class="list-group-item">-->
                            <!--Tenant List-->
                            <!--</li>-->
                        <!--</a>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading" id="panel_button" data-toggle="collapse" data-parent="pg" data-target="#stall">-->
                <!--STALL&nbsp;<span class="caret"></span>-->
            <!--</div>-->
            <!--<div id="stall" class="panel-collapse collapse in">-->
                <!--<div class="panel-body" style="padding: 1% 0 0% 0;">-->
                    <!--<ul class="list-group">-->
                        <!--<a href="/AddStalls" >-->
                            <!--<li class="list-group-item">-->
                                <!--Add Stall-->
                            <!--</li>-->
                        <!--</a>-->
                        <!--<a href="/showstalls">-->
                            <!--<li class="list-group-item">-->
                            <!--Stall List-->
                            <!--</li>-->
                        <!--</a>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading" id="panel_button" data-toggle="collapse" data-parent="pg" data-target="#payment">-->
                <!--PAYMENT&nbsp;<span class="caret"></span>-->
            <!--</div>-->
            <!--<div id="payment" class="panel-collapse collapse in">-->
                <!--<div class="panel-body" style="padding: 1% 0 0% 0;">-->
                    <!--<ul class="list-group">-->
                        <!--<a href="/payment" >-->
                           <!--<li class="list-group-item">-->
                               <!--Add Payment-->
                           <!--</li>-->
                        <!--</a>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading" id="panel_button" data-toggle="collapse" data-parent="pg" data-target="#clerk">-->
                <!--CLERK&nbsp;<span class="caret"></span>-->
            <!--</div>-->
            <!--<div id="clerk" class="panel-collapse collapse in">-->
                <!--<div class="panel-body" style="padding: 1% 0 0% 0;">-->
                    <!--<ul class="list-group">-->
                        <!--<a href="/clerk" >-->
                            <!--<li class="list-group-item">-->
                               <!--Add Clerk-->
                            <!--</li>-->
                        <!--</a>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading" id="panel_button" data-parent="pg">-->
                <!--<a href="/logs">-->
                <!--LOGS-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->



    <!--</div>-->
<!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-lg-12" style="">-->
            <!--<center><h5>EEDMO FORMS</h5></center>-->
            <!--<hr>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<a href="/AddTenants"><div class="col-lg-12 panel_button">-->
            <!--Add Tenant-->
        <!--</div></a>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<a href="/AddStalls"><div class="col-lg-12 panel_button">-->
            <!--Add Stall-->
        <!--</div></a>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<a href="/clerk"><div class="col-lg-12 panel_button">-->
            <!--Add Clerk-->
        <!--</div></a>-->
    <!--</div>-->
        <!--<div class="row">-->
        <!--<a href="/showtenants"><div class="col-lg-12 panel_button">-->
            <!--Tenants List-->
        <!--</div></a>-->
    <!--</div>-->
        <!--<div class="row">-->
        <!--<a href="/showstalls"><div class="col-lg-12 panel_button">-->
           <!--Stall List-->
        <!--</div></a>-->
    <!--</div>-->
        <!--<div class="row">-->
        <!--<a href="/logs"><div class="col-lg-12 panel_button">-->
            <!--Logs-->
        <!--</div></a>-->
    <!--</div>-->


<!--</div>-->

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" style="z-index:10;">
        <ul class="nav navbar-nav">
            <!--<li>-->
                <!--<a href="#" id="paneltoggle" style="padding: 5px 0; color:white;">-->
                    <!--<span class="glyphicon glyphicon-list" style="font-size:30px;"></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/admin_dashboard" style="font-size: 25px; color:white;">Home</a>-->
            <!--</li>-->
            <li style="background-color:#5BC0DC;">
                <a href="/#" style="color:black;"> <strong style="font-size:110%;">EEDMO</strong></a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #5BC0DC;">
                    <strong style="font-size:110%;"><span></span> TENANT <span class="caret"></span></strong>
                </a>
                <ul class="dropdown-menu">
                     <li><a href="/AddTenants">Add Tenant</a></li>
                    <li><a href="/showtenants">Tenant List</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #5BC0DC;">
                    <strong style="font-size:110%;"><span></span> STALL <span class="caret"></span></strong>
                </a>
                <ul class="dropdown-menu">
                     <li><a href="/AddStalls">Add Stall</a></li>
                    <li><a href="/showstalls">Stall List</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #5BC0DC;">
                    <strong style="font-size:110%;"><span></span> PAYMENT <span class="caret"></span></strong>
                </a>
                <ul class="dropdown-menu">
                     <li><a href="/payment">Add Payment</a></li>
                </ul>
            </li>
            <li>
                <a href="/clerk" style="color: #5BC0DC;"> <strong style="font-size:110%;">ADD CLERK</strong></a>
            </li>
            <li>
                <a href="/logs" style="color: #5BC0DC;"> <strong style="font-size:110%;">LOGS</strong></a>
            </li>


        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li style="left:-10%;">
                <div class="dropdown">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="margin-top:11%;">
                        Search <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" data-target="#modal_search" href="#">Tenant List</a></li>
                        <li><a data-toggle="modal" data-target="#modal_search2" href="#">Stall List</a></li>
                    </ul>
                </div>
            </li>
            <li style="color:#5BC0DC; margin-top:5%; left:-4%";>
                    <strong>
                        <span class="glyphicon glyphicon-bell"></span> Notifications
                    </strong>

            </li>
            <li class="dropdown" style="background-color: #0f0d15;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #5BC0DC;">
                    <strong style="font-size:120%;"><span class="glyphicon glyphicon-user" ></span> ADMIN <span class="caret"></span></strong>
                </a>
                <ul class="dropdown-menu">
                    <!-- <li><a href="#">Clerk</a></li> -->
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>


<div id="modal_search" role="dialog" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search</h4>
            </div>
            <div class="modal-body">
                <h1  style="margin-bottom: 4%;">List of Tenants</h1>
                <table class="table table-striped table-bordered table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Stall Number</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Stall Number</th>
                        </tr>

                    </tfoot>
                    <tbody>
                        {% for res in result %}
                        <tr>
                            <td>
                                <a href = "/payment_table/{{res.tenantID}}/{{res.stallID}}">{{ res.first_name }} &nbsp; {{ res.mid_name }} &nbsp; {{ res.last_name }} </a>
                            </td>
                            <td>
                                {{ x[loop.index-1] }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
            </div>
        </div>

    </div>
</div>

<div id="modal_search2" role="dialog" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search</h4>
            </div>
            <div class="modal-body">
                <h1  style="margin-bottom: 4%;">List of Stalls</h1>

                <table class="table table-striped table-bordered table-hover" id="myTable2">

                            <div id="example_wrapper" class="dataTables_wrapper form-inline df-bootstrap"></div>
                    <thead>
                        <tr>
                            <th>Stall Number</th>
                            <th>Location</th>
                            <th>Rate</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Stall Number</th>
                            <th>Location</th>
                            <th>Rate</th>
                            <th>Type</th>
                        </tr>

                    </tfoot>
                    <tbody>
                        {% for res in result2 %}
                        <tr>
                            <td>
                                {{ res.stall_no }}
                            </td>
                            <td>
                                {{ res.stall_loc }}
                            </td>
                            <td>
                                {{ res.stall_rate }}
                            </td>
                            <td>
                                {{ y[loop.index-1] }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
            </div>
        </div>

    </div>
</div>


<div class="form_container" id="flex_form">

{% block body %}
{% endblock %}

</div>

<script src="\static\js\jquery-3.2.1.min.js"></script>
<script src="\static\js\jquery.dataTables.min.js"></script>
<script src="\static\js\dataTables.bootstrap.min.js"></script>
<script>
    $('#myTable').dataTable();
    $('#myTable2').dataTable();
</script>
{% block scripts %}
{% endblock %}

<script type="\static\js\dataTables.buttons.min.js"></script>
<script type="\static\js\buttons.html5.min.js"></script>
<script type="\static\js\buttons.flash.min.js"></script>
<script type="\static\js\buttons.print.min.js"></script>
<script type="\static\js\jszip.min.js"></script>
<script type="\static\js\pdfmake.min.js"></script>

<script type="\static\js\vfs_fonts.js"></script>
<script type="\static\js\buttons.colVis.min.js"></script>

    <script>
    	$(document).ready(function() {
    </script>

	<!--<script>-->


		<!--$('.form_container').css({'height':'unset', 'padding':'0% 2%', 'top':'12%'});-->
		<!--$('#myTable_filter').css({'position':'absolute','top':'-68px','left':'46%'});-->

	<!--</script>-->


</body>
</html>
