{% extends 'layout.html' %}


{% block body %}

<div class="container" style="text-align:center;">

    <div class="row">
        <div class="col-gl-7">
            <span style="font-size:80px;">Welcome To The Homepage</span>
        </div>
    </div>

    <div class="row">
        <div class="col-gl-4">
            <br/>
            <a href="/tenant2">
                <button class="btn btn-success lg" style="padding: 2% 15%; font-size: 200%;">Add Tenant</button>
            </a>
        </div>
    </div>

</div>

{% endblock %}
