<!DOCTYPE html>
<html lang="en">


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" tpye="text/css" href="/static/css/bootstrap.min.css"/>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js/"></script>

    <link rel="stylesheet" href="/static/css/layout.css"/>


</head>
<body style="background-color:white;">
    
     {% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        swal(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}


<div style="position:absolute;left:0px;right:0px;width:100%;height:100%;background-color:#00000021;">
    <a href="/about" style="margin-left: 95%; font-size: 10px">
        <strong style="font-size:115%;">About Page</strong>
    </a>
</div>

<div id="login_container">
    <div id="login_header" style="padding:2px;font-size:31px; text-align:center; border-radius: 20px 20px 0 0; background-color:#312f2f; color:white;width:100%;height:15%;">LOGIN</div>
    <div class="login_form" style="text-align:center;background-color:#4c4e4c;height:85%;padding: 4% 10%;">

    <form method="POST">
          {{ form.csrf_token }}

<!--         <div class="row">
            <div class="col-lg-12">
                <span style="font-size: 200%;"><strong>LOGIN</strong></span>
            </div>
        </div>
 -->

        <div class="row">
            <div class="col-lg-12">
                <br><label id="label">Username: <br>
                {{ form.username(placeholder = "username", id="user_form", style="text-align:center;") }} {% if form.username.errors %}
                {% for error in form.username.errors %} {{ error }} {% endfor %} {% endif %}<br></label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <label id="label">Password: <br>
                {{ form.passwrd(placeholder = "password", id="user_form", style="text-align:center;") }} {% if form.passwrd.errors %}
                {% for error in form.passwrd.errors %} {{ error }} {% endfor %} {% endif %}<br></label>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-lg-12">
                <br>{{form.submit}}
            </div>
        </div>-->

<!--         <div class="row">
            <div class="col-lg-2 login" style="position:absolute; top:80%;left:34%;">
                <input id="submit" name="submit" type="submit" value="Submit">
            </div>
        </div> -->
            <div class="login" style="position:absolute; top:80%;left:31%;">
                <input id="submit" name="submit" type="submit" value="Submit">
            </div>
    </form>


</div>

</body>
</html>
