{% extends 'admin_layout.html' %}
{% block body %}


		<h1  style="margin-bottom: 4%;">Logs</h1>
		<table class="table table-striped table-bordered table-hover" id="myTable1">
			<thead>
				<tr>

					<th>Details</th>
					<th>Date and Time</th>
					

				</tr>
			</thead>
			<tfoot>
				<tr>

					<th>Details</th>
					<th>Date and Time</th>
					
				</tr>
			
			</tfoot>
			<tbody>
				{% for res in showlogs %}
				<tr>
					<td>
						{{ res.details }}
					</td>
					<td>
						{{ res.log_date }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
    
    <script src="\static\js\jquery-3.2.1.min.js"></script>
   	<script src="\static\js\jquery.dataTables.min.js"></script>	
	<script src="\static\js\dataTables.bootstrap.min.js"></script>
	<script>
		$('#myTable1').dataTable();
		$('.form_container').css({'height':'unset', 'padding':'0% 2%', 'top':'12%'});
		$('#myTable_filter').css({'position':'absolute','top':'-68px','left':'46%'});
	</script>

{% endblock %}