
{% if current_user.roleID==1 %}
{% extends 'admin_layout.html' %}
{% else %}
{% extends 'layout.html' %}
{% endif %}
{% block body %}

	   <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/buttons.dataTables.min.css">
		
		<h1  style="margin-bottom: 4%;">List of Stalls</h1>
		
		<table class="table table-striped table-bordered table-hover" id="myTable3">
					<thead>
				<tr>
					<th style="width:115px;">Stall Number</th>
					<th>Location</th>
					<th>Rate</th>
					<th>Type</th>
				</tr>
			</thead>
			
			<tbody>
				{% for res in result_stall %}
				<tr>
					<td style="text-align:center;">
						{{ res.stall_no }}
					</td>
					<td>
						{{ res.stall_loc }}
					</td>
					<td>
						{{ res.stall_rate }}
					</td>
					<td>
						{{ x1[loop.index-1] }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	
 <script src="\static\js\jquery-3.2.1.min.js"></script>
   	<script src="\static\js\jquery.dataTables.min.js"></script>	
	<script src="\static\js\dataTables.bootstrap.min.js"></script>
	<script src="\static\js\dataTables.buttons.min.js"></script>
	<script src="\static\js\buttons.flash.min.js"></script>
	<script src="\static\js\buttons.print.min.js"></script>
	<script src="\static\js\buttons.html5.min.js"></script>
	<script src="\static\js\pdfmake.min.js"></script>
	<script src="\static\js\jszip.min.js"></script>
	<script src="\static\js\vfs_fonts.min.js"></script>

	
	<script>
	$(document).ready(function() {
    $('#myTable3').DataTable( {
  
    } );

} );
		$('.form_container').css({'height':'unset', 'padding':'0% 2%', 'top':'12%'});
		$('#myTable_filter').css({'position':'absolute','top':'-68px','left':'46%'});
	</script>


{% endblock %}
