
<!DOCTYPE html>
<html>
<head>
<script src="\static\js\jquery-3.2.1.min.js"></script>
<script src="\static\js\jquery.dataTables.min.js"></script>
<link rel="stylesheet" type ="text/css" href = "{{url_for('static', filename='datatable.css')}}">
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    $("#myTable").dataTable({
              retrieve: true,
              "bServerSide": true,
              "sAjaxSource": "/showstalls",
              "bProcessing": true,
              "sPaginationType": "full_numbers",
              "bJQueryUI": true,
              "aoColumns": [
                            { "mDataProp": "stall_no" },
                            { "mDataProp": "stall_lo" },
                            { "mDataProp": "stall_rate" }
                        ]
          });
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</head>
<body>

<h2>Stall list</h2>

<input id="myInput" type="text" placeholder="Search..">
<br><br>

<table id="myTable" class="display">
  <thead>
    <tr>
      <th>Stall Number</th>
      <th>Stall Location</th>
      <th>Stall Rate</th>
       <th>Stall Type</th>
    </tr>
  </thead>
  <tbody id="myTable" >
     {% for res in result.items %}
        <tr>
            <td>
                {{ res.stall_no }}
            </td>
            <td>
                {{ res.stall_loc }}
            </td>
            <td>
                {{ res.stall_rate }}
            </td>
            <td>
                {{ x[loop.index-1] }}
            </td>
        </tr>
     {% endfor %}
  </tbody>

</table>
  
</body>
</html>